@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

* {
  box-sizing: border-box;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 12px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;

  
  background: linear-gradient(rgba(28, 28, 30, 0.9), rgba(28, 28, 30, 0.9)),
              url('https://tse4.mm.bing.net/th/id/OIP.qvODs7O5qsZeDH8D_uoP-AHaEK?rs=1&pid=ImgDetMain&o=7&rm=3');
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(4px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.navbar-brand {
  font-family: 'Inter', sans-serif;
  color:#a91d34;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 1px;
   font-family: 'Montserrat', sans-serif;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 24px;
  font-family: 'Inter', sans-serif;
}

.nav-links a {
  color: #f0f0f0;
  text-decoration: none;
  font-weight: 500;
  position: relative;
  transition: color 0.3s ease;
  padding: 4px 0;
}

.nav-links a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: #6E1423;
  transition: width 0.3s ease;
}

.nav-links a:hover {
  color: #b30202;
}

.nav-links a:hover::after {
  width: 100%;
}
/* ! Estilado página de contacto */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

form {
    font-family: 'Montserrat', sans-serif;
    border-radius: 15px;
    display: grid;
    gap: 15px;
    max-width: 500px;
    margin: 0 auto;
    padding: 10px;
}

label {
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 5px;
    color: white;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-family: 'Comic Sans MS', cursive;
    font-size: 1em;
    resize: vertical;
}

.icon-hover {
    color: gray;
    transition: color 0.3s ease;
    font-size: 1.5rem;
}

.icon-hover:hover {
    color: #6E1423;
    cursor: pointer;
}

button {
    background-color: #02c4a4; 
    color: rgb(255, 255, 255);
    padding: 12px;
    font-size: 1.1em;
    font-family: 'Inter', sans-serif;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #6E1423;
    color: white;
}

.btn-escribenos {
  background-color: #02c4a4 !important; 
  color: white !important;
  border: none;
}

.btn-escribenos:hover {
  background-color: #6E1423 !important; 
}