/* ! Estilado página de contacto */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

form {
    font-family: 'Montserrat', sans-serif;
    border-radius: 15px;
    display: grid;
    gap: 15px;
    max-width: 500px;
    margin: 0 auto;
    padding: 10px;
}

label {
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 5px;
    color: white;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-family: 'Comic Sans MS', cursive;
    font-size: 1em;
    resize: vertical;
}

.icon-hover {
    color: gray;
    transition: color 0.3s ease;
    font-size: 1.5rem;
}

.icon-hover:hover {
    color: #6E1423;
    cursor: pointer;
}

button {
    background-color: #64ffda; 
    color: black;
    padding: 12px;
    font-size: 1.1em;
    font-family: 'Inter', sans-serif;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0632aa;
    color: white;
}

.btn-escribenos {
  background-color: #02c4a4 !important; 
  color: white !important;
  border: none;
}

.btn-escribenos:hover {
  background-color: #6E1423 !important; 
}