/*CSS navegacion */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

* {
  box-sizing: border-box;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 12px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;

  /* Fondo con imagen + color sólido */
  background: linear-gradient(rgba(28, 28, 30, 0.9), rgba(28, 28, 30, 0.9)),
              url('https://tse4.mm.bing.net/th/id/OIP.qvODs7O5qsZeDH8D_uoP-AHaEK?rs=1&pid=ImgDetMain&o=7&rm=3');
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(4px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.navbar-brand {
  font-family: 'Inter', sans-serif;
  color:#a91d34;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 1px;
   font-family: 'Montserrat', sans-serif;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 24px;
  font-family: 'Inter', sans-serif;
}

/* Links con animación y contraste */
.nav-links a {
  color: #f0f0f0;
  text-decoration: none;
  font-weight: 500;
  position: relative;
  transition: color 0.3s ease;
  padding: 4px 0;
}

.nav-links a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: #6E1423;
  transition: width 0.3s ease;
}

.nav-links a:hover {
  color: #b30202;
}

.nav-links a:hover::after {
  width: 100%;
}